

/* top-line */

.top-line {
    background-color: #ECECEC;
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.logo_header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.logo_header1 {


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;
}

.logo_header2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contact {
    background-color: #2F303A;
}

.addres {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;    
        color: #FFFFFF;
}

.contact-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
    
        color: #757575;
}

.contact-link1 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
       color: #757575;
}
.contact-link2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.contact-link3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}