  

body {
        font-family: 'Roboto', sans-serif;
        font-family: inherit;
        position: relative;
        text-decoration: none;  
}

/* top-line */

.top-line {
    background-color: #ECECEC;
    background: #FFFFFF;
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-family: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    letter-spacing: 3%
}

.logo_header {
    color: #2196F3;
}

.nav-list-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-list-item:hover{
    color: #2196F3;
}

.nav-list-item:focus {
    color: #757575;
}

.link-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.link-item:hover {
    color: #2196F3;
}

.link-item:focus {
    color: #757575;
}

/*portfolio*/

.btn-item {
    offset: drop-shadow;
    radius: 4px;
    inset: 0px, 4px rgba(0, 0, 0, 0.25);
    color: #F5F4FA;
}

.btn-item:hover {
 color:  #188ce8;
}

.btn-item:focus {
    color:#2196F3;
}

/*project*/

.list-item .project-img {
    margin-block: 370px 400px;
    margin-block: inherit;
    background: url(2910404.jpg);
}

.project-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        letter-spacing: 0.06em;
        color: #212121;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height:1.9;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer*/
.contact {
    background-color: #2F303A;
}

.logo_header2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.addres {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        text-decoration: none;
        /* or 171% */
        letter-spacing: 0.03em;    
        color: #FFFFFF;
}

.contact-link {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    text-decoration: none;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact-link:hover {
    color: #2196F3;
}

.contact-link:focus {
    color: #FFFFFF;
}