
body {
    font-family: 'Roboto', sans-serif;
    font-family: inherit;
}

/* top-line */

.top-line {
  
        }

.logo {
    font-family: 'Raleway', sans-serif;
    font-family: inherit;
    text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: #000000; 
        letter-spacing: 3%
}

.logo_header {
    color: #2196F3;
    }

.list-item-link {
    font-size: 14px;
    line-height: 16px;
    line-height: 100%;
    color: #000000;
    text-decoration: none;
}
.list-item-link:hover {
    color: #2196f3;
}
.list-item-link:focus {
color: #757575;
}


.list-item-link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    }

.list-item-link1:hover {
    color: #188ce8;
}

.list-item-link1:focus{
    color: #000000;
}

.contact-link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.contact-link1:hover {
    color: #212121;
}

/* header */

.hero {
    background-color: #2F303A;
    color: #FFFFFF;
    padding-top: 200px;
    font-weight: 900px;
    font size: 44px; 
    line-height: 1.4;
    }

.button {
    cursor: pointer;
    background-color: #2196f3;
    font-weight: 200;
    font-size: 16px; 
    line-height: 1.8px; 
    letter-spacing: 6%;
}

.button:hover {
    background-color: #188ce8;
}    

.button .text {
color: #FFFFFF;
font-size: 16px; 
line-height: 30px;
line-height: 1.8;
letter-spacing: 6%
}

/*section*/

.features .work {
    background-color: #F5F5F5;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.text {
    font-size: 14px;
    line-height: 1.7px;
    line-height: 146%
    /* or 171% */
    
    letter-spacing: 0.03em;
    color: #757575;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,1;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-img {
offset: drop shadow;
radius: 4px;
offset: 0px, 4px rgba(0, 0, 0, 0.25)
}

/*team*/

.team {
background-color: #F5F4FA;
offset: Drop shadow;
radius: 4px; 
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-item .team-img {
        
    background: url(4853.jpg);
    border-radius: 0px;
}

.team-subjest {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #212121;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */    
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer*/
.contact {
    background-color: #2F303A;
}

.logo_header2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.addres {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.link:hover {
color: #2196F3;
}

.link:focus {
    color: #FFFFFF;
}